# Ignorar módulos de Node.js instalados localmente
node_modules/

# Logs de depuración de NPM
npm-debug.log*

# Resultados de Cypress (Videos y Screenshots de tests fallidos)
cypress/videos/
cypress/screenshots/

# Carpeta de cache de Cypress en entornos locales
.cache/
